.contact-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(122, 119, 119, 0.235);
    padding: 15px 10px;
}

.contact-header > h2 {
    font-weight: 500;
}

.div-icon-back {
    width: 40px;
    height: 40px;
    background-color: rgb(46, 117, 198);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-icon-back > :nth-child(1) {
    color: white;
}